

.employee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    padding:20px;
}

.employee_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height:40%;

}
.form{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.form_field{
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.error_message{
    font-size: .8rem;
    color: red;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.employees_details{
    position:fixed;
    top:50vh;
    overflow:scroll;
    height:310px;
}
.table_header{
    position:fixed;
    top:47vh;
    left:41vw;
}
.table_data{
    padding:5px;
    font-size:1.2rem;
}
tr{
    border-bottom: 1px solid lightgray;
}
